.button__button {
  background: none;
  color: inherit;
  border: 1px #000 solid;
  border-radius: 20px;
  padding: 5px 20px;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button__primary {
  background-color: #FEE3B8;
}

.button__primary:hover {
  background-color: #FEF2E1;
}

.button__secondary {
  background-color: #FFF;
}

.button__secondary:hover {
  background-color: #FEF2E1;
}

.button__disabled {
  background-color: #DDD;
  cursor: default;
}

.button__disabled:hover {
  background-color: #DDD;
}

.button__big {
  margin: 10px 20px;
  font-size: 18px;
}

.button__regular {
  margin: 5px 10px;
  font-size: 16px;
}

.button__small {
  margin: 3px 5px;
  font-size: 10px;
}
