header {
  background-color: #FEE3B8;
  border-bottom: 1px #000 solid;
}

.header__content {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.header__logo {
  height: 100px;
}
